:root {
	--grid-cols: 1;
	--grid-rows: 1;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
	width: 100%;
}

header {
	text-align: center;
	background: lightblue;
	width: 100%;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
	width: 100%;
	height: 50px;
}
 #grid-container {
 	display: grid;
 	grid-template-rows: repeat(var(--grid-rows), minmax(5px, 1fr));
 	grid-template-columns: repeat(var(--grid-cols), minmax(5px, 1fr));
 	height: 50%;
 	border: 2px solid red;
 }

.grid-item {
	border: 1px solid blue;
	text-align: center;
}